<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{areas.title}"/>
</head>
<body>
    <div layout:fragment="content">

        <div layout:insert="~{fragments::deleteModal('admin/areas/delete')}" th:remove="tag"/>

        <h4 th:text="#{areas.title}"/>
        <a th:href="@{|/${lang}/admin/areas/new|}" th:text="#{admin.area.add}"/>
        <table>
            <thead>
                <th text="#{admin.id}"/>
                <th text="#{admin.area.name}"/>
                <th text="#{admin.area.description}"/>
                <th text="#{admin.translations}"/>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                <tr th:each="area : ${areas}" th:object="${area}">
                    <td><a th:href="@{|/${lang}/admin/areas/*{baseId}/edit|}" th:text="*{baseId}"/></td>
                    <td><a th:href="@{|/${lang}/areas/*{baseId}|}" th:text="*{name}"/></td>
                    <td th:text="*{description}" class="markdown-content"/>
                    <td layout:insert="~{fragments::translations(*{baseId}, 'areas')}" />
                    <td><a href="#" th:data-id="*{id}" th:data-name="*{name}" th:onclick="openDeleteModal(this)" th:text="#{admin.delete}"/></td>
                </tr>
            </tbody>
        </table>

        <h4>Puzzle Layout</h4>
        <form action="#" th:action="@{|/${lang}/admin/areas/config/new|}" th:object="${config}" method="post">
            <label>Layout
                <textarea rows="5" name="description" th:field="*{layout}"/>
                <span th:if="${#fields.hasErrors('layout')}" class="form-error is-visible" th:errors="*{layout}"/>
            </label>
            <input type="submit" class="button"  th:value="#{admin.save}"/>
        </form>
    </div>
</body>
</html>
