<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:if="${area.new}" th:text="#{admin.area.add}"/>
    <title th:unless="${area.new}" th:text="${area.name}"/>
</head>
<body>
    <div layout:fragment="content">
        <a th:unless="${area.new}" th:href="@{|/${lang}/areas/${area.baseId}|}" class="float-right" th:text="#{admin.view}"/>

        <h4 th:if="${area.new}" th:text="#{admin.area.add}"/>
        <h4 th:unless="${area.new}" th:text="${area.name}"/>
        <img th:if="${area.imagePath != null}" th:src="@{|/images/${area.imagePath}|}" class="area-image"/>
        <form action="#" th:action="@{|/${lang}/admin/areas/save|}" th:object="${area}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{baseId}"/>
            <input type="hidden" th:field="*{id}"/>

            <label><span th:text="#{admin.area.name}"/>
                <input type="text" name="name" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" class="form-error is-visible" th:errors="*{name}"/>
            </label>

            <label><span th:text="#{admin.area.description}"/>
                <textarea rows="5" name="description" th:field="*{description}"/>
                <span th:if="${#fields.hasErrors('description')}" class="form-error is-visible" th:errors="*{description}"/>
            </label>

            <label class="button"><span th:text="#{admin.image.upload}"/>
                <input type="file" name="file" class="show-for-sr">
            </label>

            <label><span th:text="#{admin.image.source}"/>
                <input type="text" th:field="*{imageSource}"/>
                <span th:if="${#fields.hasErrors('imageSource')}" class="form-error is-visible" th:errors="*{imageSource}"/>
            </label>

            <input type="submit" class="button" th:value="#{admin.save}"/>
        </form>
        <div layout:insert="~{fragments::uploadScript}" th:remove="tag"/>
    </div>
</body>
</html>
