<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Area</title>
</head>
<body>
    <div layout:fragment="content">
        <h4 th:text="Dictionaries"/>
        <form action="#" th:action="@{|/${lang}/admin/dictionaries/save|}" method="post">
            <label>Description
                <textarea rows="15" name="csv" th:field="${csv}"/>
                <span th:if="${#fields.hasErrors('description')}" class="form-error is-visible" th:errors="*{description}"/>
            </label>

            <label class="button">Upload Image
                <input type="file" name="file" class="show-for-sr">
            </label>

            <label>Image Source
                <input type="text" th:field="*{imageSource}"/>
                <span th:if="${#fields.hasErrors('imageSource')}" class="form-error is-visible" th:errors="*{imageSource}"/>
            </label>

            <input type="submit" class="button" value="Save">
        </form>
        <div layout:insert="~{fragments::uploadScript}" th:remove="tag"/>
    </div>
</body>
</html>
