<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{organization.title}"/>
</head>
<body>
    <div layout:fragment="content">
        <a th:unless="${organization.new}" th:href="@{|/${lang}/organizations/${organization.baseId}|}" class="float-right" th:text="#{admin.view}"/>

        <h4 th:if="${organization.new}" th:text="#{admin.organization.add}"/>
        <h4 th:unless="${organization.new}" th:text="${organization.name}"/>
        <img th:if="${organization.imagePath != null}" th:src="@{|/images/${organization.imagePath}|}" class="org-image"/>
        <form action="#" th:action="@{|/${lang}/admin/organizations/save|}" th:object="${organization}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{baseId}"/>
            <input type="hidden" th:field="*{id}"/>

            <label><span th:text="#{admin.organization.name}"/>
                <input type="text" name="name" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" class="form-error is-visible" th:errors="*{name}"/>
            </label>

            <label><span th:text="#{admin.organization.description}"/>
                <textarea rows="5" name="description" th:field="*{description}"/>
                <span th:if="${#fields.hasErrors('description')}" class="form-error is-visible" th:errors="*{description}"/>
                <div layout:insert="~{fragments::markdown-preview}"></div>
            </label>

            <label><span th:text="#{admin.organization.parent}"/>
                <select name="parentId">
                    <option th:value="${null}" th:text="#{admin.option.select}"/>
                    <option th:each="org : ${organizations}" th:value="${org.baseId}" th:text="${org.name}"
                            th:selected="${organization.parentId == org.baseId}"/>
                </select>
            </label>

            <label><span th:text="#{admin.organization.location}"/>
                <input type="text" name="location" th:field="*{location}"/>
                <span th:if="${#fields.hasErrors('location')}" class="form-error is-visible" th:errors="*{location}"/>
            </label>

            <label class="button"><span th:text="#{admin.image.upload}"/>
                <input type="file" name="file" class="show-for-sr">
            </label>

            <label><span th:text="#{admin.image.source}"/>
                <input type="text" th:field="*{imageSource}"/>
                <span th:if="${#fields.hasErrors('imageSource')}" class="form-error is-visible" th:errors="*{imageSource}"/>
            </label>

            <label><span th:text="#{admin.links}"/>
                <textarea rows="5" th:field="*{links}"></textarea>
            </label>

            <input type="submit" class="button" th:value="#{admin.save}"/>
        </form>
        <div layout:insert="~{fragments::uploadScript}" th:remove="tag"/>

        <div th:if="${not organization.new}">
            <div layout:insert="~{fragments::deleteModal('admin/organizations/' + ${organization.baseId} + '/member/delete')}" th:remove="tag"/>

            <h4 th:text="#{members.title}"/>
            <a th:href="@{|/${lang}/admin/organizations/${organization.baseId}/members/new|}">Add member</a>
            <table th:unless="${#lists.isEmpty(members)}">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}" th:with="person=${member.entity}">
                        <td><a th:href="@{|/${lang}/admin/organizations/${organization.baseId}/members/${member.id}/edit|}" th:text="${member.id}"/></td>
                        <td><a th:href="@{|/${lang}/persons/${person.baseId}|}" th:text="*{person.name}"/></td>
                        <td th:text="${@dictionaryService.getText('role', lang, member.role)}"/>
                        <td><a href="#" th:data-id="${member.id}" th:data-name="${person.name}" th:onclick="openDeleteModal(this)" th:text="#{admin.delete}"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
