<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Organization</title>
</head>
<body>
    <div layout:fragment="content">
        <h3 th:text="${organization.new ? 'Add Organization' : 'Edit Organization'}"/>
        <form action="#" th:action="@{|/${lang}/admin/organizations/save|}" th:object="${organization}" method="post">
            <input type="hidden" name="baseId" th:value="${baseId}"/>
            <input type="hidden" th:field="*{id}"/>

            <label>Name
                <input type="text" name="name" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" class="form-error is-visible" th:errors="*{name}"/>
            </label>

            <label>Description
                <textarea rows="5" name="description" th:field="*{description}"/>
                <span th:if="${#fields.hasErrors('description')}" class="form-error is-visible" th:errors="*{description}"/>
            </label>

            <label>Location
                <input type="text" name="location" th:field="*{location}"/>
                <span th:if="${#fields.hasErrors('location')}" class="form-error is-visible" th:errors="*{location}"/>
            </label>
            <input type="submit" class="button" value="Save">
        </form>

        <div th:if="${not organization.new}">
            <div layout:insert="~{fragments::deleteModal('admin/organizations/' + ${organization.baseId} + '/member/delete')}" th:remove="tag"/>

            <h3>Members</h3>
            <table th:if="${not organization.new && not #lists.isEmpty(members)}">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}" th:with="person=${member.entity}">
                        <td><a th:href="@{|/${lang}/admin/persons/${person.baseId}/edit|}" th:text="${person.baseId}"/></td>
                        <td><a th:href="@{|/${lang}/persons/${person.baseId}|}" th:text="*{person.name}"/></td>
                        <td th:text="${member.role}"/>
                        <td><a href="#" th:data-id="${member.id}" th:data-name="${person.name}" th:onclick="openDeleteModal(this)">Delete</a></td>
                    </tr>
                </tbody>
            </table>

            <h4>Add Member</h4>
            <form action="#" th:action="@{|/${lang}/admin/organizations/${organization.baseId}/member|}" method="post">
                <label>Person
                    <select name="basePersonId">
                        <option th:value="${null}">-- Select --</option>
                        <option th:each="person : ${candidates}" th:value="${person.baseId}" th:text="${person.name}"/>
                    </select>
                </label>

                <label>Role
                    <select name="role">
                        <option th:value="${null}">-- Select --</option>
                        <option th:each="role: ${roles}" th:value="${role}" th:text="${role}"/>
                    </select>
                </label>

                <input type="submit" class="button" value="Save">
            </form>
        </div>
    </div>
</body>
</html>
