<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Person</title>
</head>
<body>
    <div layout:fragment="content">
        <h4 th:text="${person.new ? 'Add Person' : 'Edit Person'}"/>
        <img th:if="${person.imagePath != null}" th:src="@{|/images/${person.imagePath}|}" class="person-image"/>
        <form action="#" th:action="@{|/${lang}/admin/persons/save|}" th:object="${person}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{baseId}"/>
            <input type="hidden" th:field="*{id}"/>

            <label>Name
                <input type="text" name="name" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" class="form-error is-visible" th:errors="*{name}"/>
            </label>

            <label>Description
                <textarea rows="5" name="description" th:field="*{description}"/>
                <span th:if="${#fields.hasErrors('description')}" class="form-error is-visible" th:errors="*{description}"/>
            </label>

            <label>Residence
                <input type="text" th:field="*{residence}"/>
                <span th:if="${#fields.hasErrors('residence')}" class="form-error is-visible" th:errors="*{residence}"/>
            </label>

            <label class="button">Upload Image
                <input type="file" name="file" class="show-for-sr">
            </label>

            <label>Image Source
                <input type="text" th:field="*{imageSource}"/>
                <span th:if="${#fields.hasErrors('imageSource')}" class="form-error is-visible" th:errors="*{imageSource}"/>
            </label>

            <label>Links
                <textarea rows="5" th:field="*{links}"></textarea>
            </label>

            <input type="submit" class="button" value="Save">
        </form>
        <div layout:insert="~{fragments::uploadScript}" th:remove="tag"/>
    </div>
</body>
</html>
