<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{persons.title}"/>
</head>
<body>
<div layout:fragment="content">

    <div layout:insert="~{fragments::deleteModal('admin/persons/delete')}" th:remove="tag"/>

    <h4 th:text="#{persons.title}"/>
    <a th:href="@{|/${lang}/admin/persons/new|}" th:text="#{admin.person.add}"/>
    <table>
        <thead>
            <th th:text="#{admin.id}"/>
            <th th:text="#{admin.person.name}"/>
            <th th:text="#{admin.person.description}"/>
            <th th:text="#{admin.translations}"/>
            <th>&nbsp;</th>
            </thead>
        <tbody>
            <tr th:each="p : ${persons}" th:object="${p}">
                <td><a th:href="@{|/${lang}/admin/persons/*{baseId}/edit|}" th:text="*{baseId}"/></td>
                <td>
                    <a th:href="@{|/${lang}/persons/*{baseId}|}" th:text="*{name}"/>
                    <img th:if="${p.image != null}" th:src="@{|/images/${p.image.path}|}" class="person-image-small"/>
                </td>
                <td th:text="*{description}" class="markdown-content"/>
                <td layout:insert="~{fragments::translations(*{baseId}, 'persons')}" />
                <td><a href="#" th:data-id="*{id}" th:data-name="*{name}" th:onclick="openDeleteModal(this)" th:text="#{admin.delete}"/></td>
            </tr>
        </tbody>
    </table>
    <div layout:insert="~{fragments::pagination}" th:remove="tag"/>
</div>
</body>
</html>
