<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Project</title>
</head>
<body>
    <div layout:fragment="content">
        <h4 th:text="${project.new ? 'Add Project' : 'Edit Project'}"/>
        <img th:if="${image.path != null}" th:src="@{|/images/${image.path}|}" class="project-image"/>
        <form action="#" th:action="@{|/${lang}/admin/projects/save|}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="baseId" th:value="${baseId}"/>
            <input type="hidden" th:field="${project.id}"/>

            <label>Name
                <input type="text" th:field="${project.name}"/>
                <span th:if="${#fields.hasErrors('project.name')}" class="form-error is-visible" th:errors="${project.name}"/>
            </label>

            <label>Description
                <textarea rows="5" th:field="${project.description}"/>
                <span th:if="${#fields.hasErrors('project.description')}" class="form-error is-visible" th:errors="${project.description}"/>
            </label>

            <label>Area
                <select name="baseAreaId">
                    <option th:value="${null}">-- Select --</option>
                    <option th:each="area : ${areas}" th:value="${area.baseId}" th:text="${area.name}"
                            th:selected="${project.baseEntity != null && project.baseEntity.baseArea.id == area.baseId}"/>
                </select>
            </label>

            <label>Organization
                <select name="baseOrganizationId">
                    <option th:value="${null}">-- Select --</option>
                    <option th:each="org : ${organizations}" th:value="${org.baseId}" th:text="${org.name}"
                            th:selected="${project.baseEntity != null && project.baseEntity.baseOrganization.id == org.baseId}"/>/>
                </select>
            </label>

            <label>Status
                <input type="text" th:field="${project.status}"/>
                <span th:if="${#fields.hasErrors('project.status')}" class="form-error is-visible" th:errors="${project.status}"/>
            </label>

            <input type="hidden" th:field="${image.path}"/>
            <label class="button">Upload Image
                <input type="file" name="file" class="show-for-sr">
            </label>

            <label>Image Source
                <input type="text" th:field="${image.source}"/>
                <span th:if="${#fields.hasErrors('image.source')}" class="form-error is-visible" th:errors="${image.source}"/>
            </label>

            <label>Links
                <textarea rows="5" name="projectLinks" th:text="${links}"></textarea>
            </label>

            <input type="submit" class="button" value="Save">
        </form>
        <div layout:insert="~{fragments::uploadScript}" th:remove="tag"/>

        <div th:if="${not project.new}">
            <div layout:insert="~{fragments::deleteModal('admin/projects/' + ${project.baseId} + '/member/delete')}" th:remove="tag"/>

            <h4>Members</h4>
            <table th:unless="${#lists.isEmpty(members)}">
                <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>&nbsp;</th>
                </thead>
                <tbody>
                <tr th:each="member : ${members}" th:with="person=${member.entity}">
                    <td><a th:href="@{|/${lang}/admin/persons/${person.baseId}/edit|}" th:text="${person.baseId}"/></td>
                    <td><a th:href="@{|/${lang}/persons/${person.baseId}|}" th:text="*{person.name}"/></td>
                    <td th:text="${member.role}"/>
                    <td><a href="#" th:data-id="${member.id}" th:data-name="${person.name}" th:onclick="openDeleteModal(this)">Delete</a></td>
                </tr>
                </tbody>
            </table>

            <h5>Add Member</h5>
            <form action="#" th:action="@{|/${lang}/admin/projects/${project.baseId}/member|}" method="post">
                <label>Person
                    <select name="basePersonId">
                        <option th:value="${null}">-- Select --</option>
                        <option th:each="person : ${candidates}" th:value="${person.baseId}" th:text="${person.name}"/>
                    </select>
                </label>

                <label>Role
                    <select name="role">
                        <option th:value="${null}">-- Select --</option>
                        <option th:each="role: ${roles}" th:value="${role}" th:text="${role}"/>
                    </select>
                </label>

                <input type="submit" class="button" value="Save Member">
            </form>
        </div>
    </div>
</body>
</html>
