<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Projects</title>
</head>
<body>
<div layout:fragment="content">

    <div layout:insert="~{fragments::deleteModal('admin/projects/delete')}" th:remove="tag"/>

    <h4>Projects List</h4>
    <a th:href="@{|/${lang}/admin/projects/new|}">New Project</a><br/>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Area</th>
            <th>Organization</th>
            <th>Translations</th>
            <th>&nbsp;</th>
            </thead>
        <tbody>
            <tr th:each="p : ${projects}" th:object="${p}">
                <td><a th:href="@{|/${lang}/admin/projects/*{baseId}/edit|}" th:text="*{baseId}"/></td>
                <td>
                    <a th:href="@{|/${lang}/projects/*{baseId}|}" th:text="*{name}"/>
                    <img th:if="${p.image != null}" th:src="@{|/images/${p.image.path}|}" class="project-image-small"/>
                </td>
                <td th:with="area=*{baseEntity.baseArea}">
                    <a th:if="${area != null}"
                       th:href="@{|/${lang}/areas/${area.id}|}" th:text="${areas.get(area.id).name}"/>
                </td>
                <td th:with="org=*{baseEntity.baseOrganization}">
                    <a th:if="${org != null}"
                       th:href="@{|/${lang}/organizations/${org.id}|}" th:text="${organizations.get(org.id).name}"/>
                </td>
                <td layout:insert="~{fragments::translations(*{baseId}, 'projects')}" />
                <td><a href="#" th:data-id="*{id}" th:data-name="*{name}" th:onclick="openDeleteModal(this)">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div layout:insert="~{fragments::pagination}" th:remove="tag"/>
</div>
</body>
</html>
