<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Review</title>
</head>
<body>
<div layout:fragment="content">
    <h4>Next to review</h4>
    <form id="saveReview" th:action="@{|/${lang}/admin/reviews/save|}" method="post">
        <input type="hidden" name="lang" th:value="${lang}"/>
        <input type="hidden" name="entityId"/>
        <input type="hidden" name="entityType"/>
    </form>
    <script type="text/javascript">
        function saveReview(trigger) {
            $('#saveReview input[name="entityId"]').val(trigger.getAttribute('data-id'));
            $('#saveReview input[name="entityType"]').val(trigger.getAttribute('data-type'));
            $('#saveReview').submit();
        }
    </script>
    <table>
        <thead>
            <th>ID</th>
            <th>Entity</th>
            <th>Name</th>
            <th>Translations</th>
            <th>Total reviews</th>
            <th>Days waiting</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr th:each="r : ${reviews}" th:object="${r}" th:with="entityPath=${r.entityType == 'Organization' ? 'organizations' : 'projects'}">
                <td>
                    <a th:href="@{|/*{language}/admin/${entityPath}/*{baseEntityId}/edit|}" th:text="*{baseEntityId}"/>
                </td>
                <td th:text="*{entityName}"/>
                <td>
                    <a th:href="@{|/*{language}/${entityPath}/*{baseEntityId}|}" th:text="*{entityName}"/>
                </td>
                <td th:text="*{translations}"/>
                <td th:text="*{reviewsCount}"/>
                <td th:text="*{daysWaiting}"/>
                <td>
                    <a href="#" th:data-id="*{baseEntityId}" th:data-type="*{entityType}" th:onclick="saveReview(this)">Reviewed</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
