body {
    background: url(/img/background.jpg);
    background-attachment: fixed;
    background-size: 100%;
    color: #182625;
}

.logo {
    width: 50%;
}

/*#6ca632 #bed95f #b4bf8a #d5d9b8 #f2f0e4*/
/*#182625*/

.cell.left-menu {
    padding: 5px;
}

.left-menu a {
    display: block;
    float: right;
    clear: both;
    width: 100%;
    max-width: 200px;
    height: 35px;
    background-color: white;
    text-align: right;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    padding-right: 25px;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.left-menu a:hover {
    background-color: #bed95f;
}

.content {
    background-color: #f2f0e4;
    border: 1px solid green;
}

area {
    outline: none;
}

.card.update {
    background-color: #d5d9b8;
}

.card.update .update-image {
    text-align: center;
}

#deleteModal input {
    margin-top: 10px;
    margin-bottom: 0px;
}

img.person-image, img.org-image, img.project-image {
    min-width: 200px;
    max-width: 400px;
    display: block;
}

img.person-image-small, img.org-image-small, img.project-image-small {
    max-width: 200px;
    display: block;
}

a.external-link {
    padding: 5px;
}

td {
    vertical-align: top;
}

.footer {
    color: #d5d9b8;
    background-image: linear-gradient(#3b8437, #25621f);
}

.footer a {
    color: #d5d9b8;
}