body {
    background: url(/img/grass2.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

.logo {
    width: 50%;
}

.main-content {
    background-color: lightgreen;
}

area {
    outline: none;
}

.updates-column {
    width: 300px;
}

.card.update .update-image {
    text-align: center;
}

#deleteModal input {
    margin-top: 10px;
    margin-bottom: 0px;
}

img.person-image, img.org-image, img.project-image {
    min-width: 200px;
    max-width: 400px;
    display: block;
}

img.person-image-small, img.org-image-small, img.project-image-small {
    max-width: 200px;
    display: block;
}

a.external-link {
    padding: 5px;
}

td {
    vertical-align: top;
}