body {
    background: url(/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #314036;
}

.logo {
    width: 75%;
}

.top-menu-container {
    display: table;
}

.top-menu {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
    padding-bottom: 5px;
}

.top-menu a {
    padding-left: 33px;
    font-size: 1.3em;
    color: #6aae3f;
    background: url(/img/lang.png) 0px -4px no-repeat;
}

.top-menu a:hover {
    color: #f1ecc2;
    background: url(/img/lang-hover.png) 0px -4px no-repeat;
}

.content-grid {
    height: 100%;
}

#puzzle {
    max-height: 100%;
}

/* Color scheme
    content background: #f2f2e9
    panel background, menu, button labels, table headers: #f1ecc2
    main header, panel header, buttons, menu hovered: #6aae3f
    borders, text headers: #2e731a
    normal text: #314036
    panel borders, tables: #6b7a53
 */

.cell.left-menu {
    padding: 5px;
}

.left-menu a {
    display: block;
    float: right;
    clear: both;
    width: 100%;
    max-width: 200px;
    height: 35px;
    background-color: #f1ecc2;
    text-align: right;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom: 2px solid #2e731a;
    border-left: 2px solid #2e731a;
    padding-right: 25px;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.left-menu a:hover {
    color: #f1ecc2;
    background-color: #6aae3f;
}

.content {
    background-color: #f2f2e9;
    border: 1px solid #2e731a;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.mission {
    background-color: #f1ecc2;
    border: 1px solid #6b7a53;
    margin-bottom: 10px;
    padding: 5px;
}

area {
    outline: none;
}

.card.update {
    background-color: #f1ecc2;
    border: 1px solid #6b7a53;
}

.card.update p {
    margin-bottom: 3px;
}

th {
    background-color: #f1ecc2;
}

td, th {
    border: 1px solid #6b7a53;
}

td {
    vertical-align: top;
}

table tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2e9;
}

.card.update .update-image {
    text-align: center;
}

#deleteModal input {
    margin-top: 10px;
    margin-bottom: 0px;
}

img.person-image, img.org-image, img.project-image, img.update-image {
    min-width: 200px;
    max-width: 400px;
    display: block;
}

img.person-image-small, img.org-image-small, img.project-image-small, img.update-image-small {
    max-width: 200px;
    display: block;
}

a.external-link {
    padding: 5px;
}

.display-block {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    color: #2e731a;
}

.footer {
    color: #f1ecc2;
    background-image: linear-gradient(#3b8437, #25621f);
}

.footer a {
    color: #f1ecc2;
}

ul.pagination .current {
    color: #f1ecc2;
    background-color: #3b8437;
}

input.button, label.button {
    color: #f1ecc2;
    background-color: #3b8437;
}

input.button:hover, label.button:hover {
    background-color: #25621f;
}

.markdown-preview {
    background-color: #f2f2e9;
    border: 1px solid #cacaca;
    min-height: 16px;
    margin-bottom: 16px;
}

.markdown-preview p {
    margin: 5px;
}

.markdown-content {
    display: none;
}