<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Areas</title>
</head>
<body>
    <div layout:fragment="content">
        <h3>Areas List</h3>
        <table>
            <thead>
                <th>Area</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr th:each="area : ${areas}" th:object="${area}">
                    <td><a th:href="@{|/${lang}/areas/*{baseId}|}" th:text="*{name}"/></td>
                    <td th:text="*{description}"/>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
