<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{areas.title}"/>
</head>
<body>
    <div layout:fragment="content">
        <h4 th:text="#{areas.title}"/>
        <table>
            <thead>
                <th th:text="#{areas.name}"/>
                <th th:text="#{areas.description}"/>
            </thead>
            <tbody>
                <tr th:each="area : ${areas}" th:object="${area}">
                    <td><a th:href="@{|/${lang}/areas/*{baseId}|}" th:text="*{name}"/></td>
                    <td th:text="*{description}" class="markdown-content"/>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
