<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="deleteModal(action)">
    <script type="text/javascript">
        function openDeleteModal(trigger) {
            $('#deleteModal strong').text(trigger.getAttribute('data-name'));
            $('#deleteModal form input[name="id"]').val(trigger.getAttribute('data-id'));
            $('#deleteModal').foundation('open');
        }
    </script>
    <div class="reveal tiny" id="deleteModal" data-reveal>
        <form action="#" th:action="@{|/${lang}/${action}|}" method="post">
            Do you want to delete <strong></strong>?
            <input type="hidden" name="id"/>
            <input type="submit" class="button alert float-center" value="Delete">
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</body>
<body layout:fragment="translations(baseEntityId, controller)">
    <a th:each="t : ${translations}"
       th:href="${t.value.contains(baseEntityId)} ? @{|/${t.key}/admin/${controller}/${baseEntityId}/edit|} : @{|/${t.key}/admin/${controller}/new?baseId=${baseEntityId}|}"
       th:text="|${t.key} |" target="_blank"/>
</body>
<body layout:fragment="links(links)">
    <div th:if="${links != null}">
        <a th:each="url : ${links.split('\n')}" th:with="link=${@linkVisualizer.getLink(url)}"
           th:href="${link.url}" target="_blank" class="external-link">
            <img th:src="@{|/img/icons/${link.image}|}"/>
        </a>
    </div>
</body>
<body layout:fragment="pagination">
<nav th:if="${pagination.totalPages > 1}" aria-label="Pagination">
    <ul class="pagination text-center">
        <li th:if="${pagination.firstPage}" class="pagination-previous disabled">Previous</li>
        <li th:unless="${pagination.firstPage}" class="pagination-previous">
            <a th:href="${pagination.getUrl(pagination.currentPage - 1)}">Previous</a>
        </li>

        <th:block th:each="p : ${pagination.getPageNumbers()}" th:with="current=${pagination.currentPage == p}">
            <li th:if="${current}" class="current">
                <span th:text="${p}"/>
            </li>
            <li th:unless="${current}">
                <a th:href="${pagination.getUrl(p)}" th:text="${p}"/>
            </li>
        </th:block>

        <li th:if="${pagination.lastPage}" class="pagination-next disabled">Next</li>
        <li th:unless="${pagination.lastPage}" class="pagination-next">
            <a th:href="${pagination.getUrl(pagination.currentPage + 1)}">Next</a>
        </li>
    </ul>
</nav>
</body>
</html>
