<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="deleteModal(action)">
    <script type="text/javascript">
        function openDeleteModal(trigger) {
            $('#deleteModal strong').text(trigger.getAttribute('data-name'));
            $('#deleteModal form input[name="id"]').val(trigger.getAttribute('data-id'));
            $('#deleteModal').foundation('open');
        }
    </script>
    <div class="reveal tiny" id="deleteModal" data-reveal>
        <form action="#" th:action="@{|/${lang}/${action}|}" method="post">
            <span th:text="#{admin.delete.confirm}"/> <strong></strong>?
            <input type="hidden" name="id"/>
            <input type="submit" class="button alert float-center" th:value="#{admin.delete}">
        </form>
        <button class="close-button" data-close type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</th:block>
<th:block layout:fragment="translations(baseEntityId, controller)">
    <a th:each="t : ${translations}"
       th:href="${t.value.contains(baseEntityId)} ? @{|/${t.key}/admin/${controller}/${baseEntityId}/edit|} : @{|/${t.key}/admin/${controller}/new?baseId=${baseEntityId}|}"
       th:text="|${t.key} |" target="_blank"/>
</th:block>
<th:block layout:fragment="links(links)" th:with="holder=${@linkVisualizer.getLinksHolder(links, lang)}">
    <div>
        <a th:each="link : ${holder.noText}"
           th:href="${link.url}" target="_blank" class="external-link">
            <img th:src="@{|/img/icons/${link.image}|}"/>
        </a>
    </div>
    <div>
        <a th:each="link : ${holder.withText}"
           th:href="${link.url}" target="_blank" class="external-link display-block">
            <img th:src="@{|/img/icons/${link.image}|}"/>
            <span th:text="${link.text}"/>
        </a>
    </div>
</th:block>
<th:block layout:fragment="pagination">
    <nav th:if="${pagination.totalPages > 1}" aria-label="Pagination">
        <ul class="pagination text-center">
            <li th:if="${pagination.firstPage}" class="pagination-previous disabled" th:text="#{pagination.previous}"/>
            <li th:unless="${pagination.firstPage}" class="pagination-previous">
                <a th:href="${pagination.getUrl(pagination.currentPage - 1)}" th:text="#{pagination.previous}"/>
            </li>

            <th:block th:each="p : ${pagination.getPageNumbers()}" th:with="current=${pagination.currentPage == p}">
                <li th:if="${current}" class="current">
                    <span th:text="${p}"/>
                </li>
                <li th:unless="${current}">
                    <a th:href="${pagination.getUrl(p)}" th:text="${p}"/>
                </li>
            </th:block>

            <li th:if="${pagination.lastPage}" class="pagination-next disabled" th:text="#{pagination.next}"/>
            <li th:unless="${pagination.lastPage}" class="pagination-next">
                <a th:href="${pagination.getUrl(pagination.currentPage + 1)}" th:text="#{pagination.next}"/>
            </li>
        </ul>
    </nav>
</th:block>
<th:block layout:fragment="updates(updates)">
    <div th:each="u : ${updates}" th:object="${u}" class="card update">
        <div class="card-section">
            <p th:text="*{#temporals.format(update.baseEntity.date, 'dd.MM.yyyy')}"/>
            <p><strong th:text="*{update.title}"/></p>
            <p th:if="*{organization != null}" th:with="image=*{organization.baseEntity.image}">
                <a th:href="@{|/${lang}/organizations/*{organization.baseId}|}">
                    <img th:unless="${image == null}" th:src="@{|/images/${image.path}|}" th:class="${'update-image-small'}"/>
                    <span th:if="${image == null}" th:text="*{organization.name}"/>
                </a>
            </p>
            <p th:if="*{project != null}">
                <a th:href="@{|/${lang}/projects/*{project.baseId}|}" th:text="*{project.name}"/>
            </p>
            <p th:text="*{update.preview}" class="markdown-content"/>
            <p><a th:href="@{|/${lang}/updates/*{update.baseId}|}" th:text="#{update.readMore}"/></p>
        </div>
    </div>
</th:block>
<th:block layout:fragment="editLink(path, id)">
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{|/${lang}/admin/${path}/${id}/edit|}" class="float-right" th:text="#{admin.edit}"/>
    </th:block>
</th:block>
<th:block layout:fragment="uploadScript">
    <script type="text/javascript">
        $('input[type=file]').change(function() {
            this.previousSibling.data = this.files[0].name;
        });
    </script>
</th:block>
<th:block layout:fragment="image(img, class)">
    <div th:if="${img != null}" class="text-center" th:with="sourceUrl=${img.sourceUrl}">
        <img th:src="@{|/images/${img.path}|}" th:class="${class + '-image'}"/>
        <a th:if="${sourceUrl != null}" th:href="${sourceUrl}" target="_blank" th:text="#{image.source.link}"/>
        <span th:if="${img.source != null and sourceUrl == null}"
              th:text="#{image.source(${img.source})}"/>
    </div>
</th:block>
<th:block layout:fragment="markdown-preview(field)" th:with="scriptId=${'script-for-' + (field ?: 'field') }">
    <span th:text="#{markdown.preview}"/>
    <div class="markdown-preview"></div>
    <script th:id="${'' + scriptId}" th:inline="javascript">
        (function() {
            var script = $('script[id=[[${scriptId}]]]');
            var editor = script.parent().prev('textarea');
            var preview = script.prev('.markdown-preview');

            editor.markdownEditor();
            editor.keyup(function () {
                preview.html(marked(editor[0].value));
            })

            preview.html(marked(editor[0].value));
        })();
    </script>
</th:block>
<th:block layout:fragment="markdown-content(text)">
    <div class="markdown-content" th:text="${text}"></div>
</th:block>
</html>
