<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE – $CONTENT_TITLE">Aging Puzzle</title>
    <link rel="stylesheet" th:href="@{/css/foundation.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/foundation.js}"></script>
    <script type="text/javascript" th:src="@{/js/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.textarea-markdown-editor.js}"></script>
    <script type="text/javascript">
        function transformMarkdown(index, html) {
            return marked(html);
        }
    </script>
</head>
<body>
    <!--https://foundation.zurb.com/sites/docs/xy-grid.html-->
    <div class="grid-y medium-grid-frame">
        <div class="cell shrink header">
            <img th:src="@{|/img/logo.png|}" class="float-center logo"/>
        </div>
        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x grid-padding-x content-grid">
                <div class="cell medium-1 medium-cell-block-y"></div>
                <div class="cell medium-2 medium-cell-block-y left-menu">
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{|/${lang}/|}" th:text="#{menu.home}"/>
                        <a th:href="@{|/${lang}/admin/areas|}" th:text="#{menu.areas}"/>
                        <a th:href="@{|/${lang}/admin/organizations|}" th:text="#{menu.organizations}"/>
                        <a th:href="@{|/${lang}/admin/projects|}" th:text="#{menu.projects}"/>
                        <a th:href="@{|/${lang}/admin/persons|}" th:text="#{menu.persons}"/>
                        <a th:href="@{|/${lang}/admin/updates|}" th:text="#{menu.updates}"/>
                        <a th:href="@{|/${lang}/admin/dictionaries|}" th:text="#{menu.dictionaries}"/>
                        <a th:href="@{|/${lang}/admin/reviews|}" th:text="#{menu.review}"/>
                    </th:block>
                    <th:block th:if="${#authorization.expression('isAnonymous()')}">
                        <a th:href="@{|/${lang}/|}" th:text="#{menu.home}"/>
                        <a th:href="@{|/${lang}/areas|}" th:text="#{menu.areas}"/>
                        <a th:href="@{|/${lang}/organizations|}" th:text="#{menu.organizations}"/>
                        <a th:href="@{|/${lang}/persons|}" th:text="#{menu.persons}"/>
                        <a th:href="@{|/${lang}/projects|}" th:text="#{menu.projects}"/>
                        <a th:href="@{|/${lang}/updates|}" th:text="#{menu.updates}"/>
                    </th:block>

                    <a th:each="t : ${switchLinks}"
                       th:href="@{|${t.value}|}"
                       th:text="|#{'lang.' + ${t.key}} |"/>

                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <form id="logout" th:action="@{/logout}" method="post">
                            <input type="hidden" name="lang" th:value="${lang}"/>
                        </form>
                        <a href="#" onclick="$('#logout').submit()" th:text="#{menu.sign.out}"/>
                    </th:block>

                    <th:block th:if="${#authorization.expression('isAnonymous()')}">
                        <a th:href="@{|/${lang}/login|}" th:text="#{menu.sign.in}"/>
                    </th:block>
                </div>
                <div class="cell medium-6 medium-cell-block-y content" layout:fragment="content">
                    Main content is here
                </div>
                <div class="cell medium-2 medium-cell-block-y content">
                    <h4>Latest updates</h4>
                    <div class="updates-column" layout:insert="~{fragments::updates(${lastUpdates})}"></div>
                </div>
                <div class="cell medium-1 medium-cell-block-y"></div>
            </div>
        </div>
        <div class="cell shrink footer text-center">
            <span>© Aging Puzzle 2019 | Created by <a href="https://t.me/mindmaker">@mindmaker</a></span>
        </div>
    </div>
    <script type="text/javascript">
        $(document).foundation();

        $('.markdown-content').html(transformMarkdown).show();
    </script>
</body>
</html>
