<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE – $CONTENT_TITLE">Aging Puzzle</title>
    <link rel="stylesheet" th:href="@{/css/foundation.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/foundation.js}"></script>
</head>
<body>
    <!--https://foundation.zurb.com/sites/docs/xy-grid.html-->
    <div class="grid-y medium-grid-frame">
        <div class="cell shrink header medium-cell-block-container">
            <img src="https://placehold.it/1200x150/ffebcd&amp;text=Aging Puzzle">
        </div>
        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-3 medium-cell-block-y text-right">
                    <a th:each="t : ${switchLinks}"
                       th:href="@{|${t.value}|}"
                       th:text="|${t.key} |"/>

                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{|/${lang}/|}">Main</a><br/>
                        <a th:href="@{|/${lang}/admin/areas|}">Areas</a><br/>
                        <a th:href="@{|/${lang}/admin/organizations|}">Organizations</a><br/>
                        <a th:href="@{|/${lang}/admin/projects|}">Projects</a><br/>
                        <a th:href="@{|/${lang}/admin/persons|}">Persons</a><br/>
                        <a th:href="@{|/${lang}/admin/updates|}">Updates</a><br/>
                    </div>
                    <div th:if="${#authorization.expression('isAnonymous()')}">
                        <a th:href="@{|/${lang}/|}">Main</a><br/>
                        <a th:href="@{|/${lang}/areas|}">Areas</a><br/>
                        <a th:href="@{|/${lang}/organizations|}">Organizations</a><br/>
                        <a th:href="@{|/${lang}/persons|}">Persons</a><br/>
                        <a th:href="@{|/${lang}/projects|}">Projects</a><br/>
                        <a th:href="@{|/${lang}/updates|}">Updates</a><br/>
                        <a th:href="@{|/${lang}/login|}">Sign In</a><br/>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <form id="logout" th:action="@{/logout}" method="post">
                            <input type="hidden" name="lang" th:value="${lang}"/>
                        </form>
                        <a href="#" onclick="$('#logout').submit()">Sing Out</a>
                    </div>
                </div>
                <div class="cell medium-6 medium-cell-block-y" layout:fragment="content">
                    Main content is here
                </div>
                <div class="cell medium-3 medium-cell-block-y">
                    <div th:each="u : ${lastUpdates}" th:object="${u}" class="card update">
                        <div class="card-divider">
                            <span th:text="*{update.title}"/>
                        </div>
                        <div class="card-section update-image" th:with="image=*{update.image}">
                            <img th:if="${image != null}" th:src="@{|/images/${image.path}|}" class="project-image-small"/>
                        </div>
                        <div class="card-section">
                            <span th:text="*{update.preview}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell shrink footer medium-cell-block-container">
            <img src="https://placehold.it/1200x100/e0ffff&amp;text=Footer">
        </div>
    </div>
    <script type="text/javascript">
        $(document).foundation();
    </script>
</body>
</html>
