<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE – $CONTENT_TITLE">Aging Puzzle</title>
    <link rel="stylesheet" th:href="@{/css/foundation.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/foundation.js}"></script>
    <script type="text/javascript" th:src="@{/js/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.textarea-markdown-editor.js}"></script>
    <script type="text/javascript">
        function transformMarkdown(index, html) {
            return marked(html);
        }
    </script>
</head>
<body>
    <!--https://foundation.zurb.com/sites/docs/xy-grid.html-->
    <div class="grid-y medium-grid-frame">
        <div class="cell shrink header">
            <img th:src="@{|/img/logo.png|}" class="float-center logo"/>
        </div>
        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x grid-padding-x content-grid">
                <div class="cell medium-1 medium-cell-block-y"></div>
                <div class="cell medium-2 medium-cell-block-y left-menu">
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{|/${lang}/|}">Home</a>
                        <a th:href="@{|/${lang}/admin/areas|}">Areas</a>
                        <a th:href="@{|/${lang}/admin/organizations|}">Organizations</a>
                        <a th:href="@{|/${lang}/admin/projects|}">Projects</a>
                        <a th:href="@{|/${lang}/admin/persons|}">Persons</a>
                        <a th:href="@{|/${lang}/admin/updates|}">Updates</a>
                        <a th:href="@{|/${lang}/admin/dictionaries|}">Dictionaries</a>
                        <a th:href="@{|/${lang}/admin/reviews|}">Reviews</a>
                    </th:block>
                    <th:block th:if="${#authorization.expression('isAnonymous()')}">
                        <a th:href="@{|/${lang}/|}">Home</a>
                        <a th:href="@{|/${lang}/areas|}">Areas</a>
                        <a th:href="@{|/${lang}/organizations|}">Organizations</a>
                        <a th:href="@{|/${lang}/persons|}">Persons</a>
                        <a th:href="@{|/${lang}/projects|}">Projects</a>
                        <a th:href="@{|/${lang}/updates|}">Updates</a>
                        <a th:href="@{|/${lang}/login|}">Sign In</a>
                    </th:block>
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <form id="logout" th:action="@{/logout}" method="post">
                            <input type="hidden" name="lang" th:value="${lang}"/>
                        </form>
                        <a href="#" onclick="$('#logout').submit()">Sing Out</a>
                    </th:block>
                    <a th:each="t : ${switchLinks}"
                       th:href="@{|${t.value}|}"
                       th:text="|${t.key} |"/>
                </div>
                <div class="cell medium-6 medium-cell-block-y content" layout:fragment="content">
                    Main content is here
                </div>
                <div class="cell medium-2 medium-cell-block-y content">
                    <h4>Latest updates</h4>
                    <div class="updates-column" layout:insert="~{fragments::updates(${lastUpdates})}"></div>
                </div>
                <div class="cell medium-1 medium-cell-block-y"></div>
            </div>
        </div>
        <div class="cell shrink footer text-center">
            <span>© Aging Puzzle 2019 | Created by <a href="https://t.me/mindmaker">@mindmaker</a></span>
        </div>
    </div>
    <script type="text/javascript">
        $(document).foundation();

        $('.markdown-content').html(transformMarkdown).show();
    </script>
</body>
</html>
