<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="#{login.title}"/>
</head>
<body>
    <div layout:fragment="content">
        <h4 th:text="#{login.title}"/>

        <span th:if="${param.error}" class="is-invalid-label" th:text="#{login.password}"/>

        <form th:action="@{|/${lang}/login|}" method="post">
            <label><span th:text="#{login.userName}"/>
                <input type="text" name="username"/>
            </label>
            <label><span th:text="#{login.password}"/>
                <input type="password" name="password"/>
            </label>
            <input type="submit" class="button" th:value="#{login.signIn}">
        </form>
    </div>
</body>
</html>
