<!DOCTYPE HTML>
<html layout:decorate="~{layout}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aging Puzzle</title>
    <link rel="stylesheet" th:href="@{/css/foundation.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/imageMapResizer.min.js}"></script>
</head>
<body>
    <div layout:fragment="content">
        <h2>Organizations</h2>
    </div>
</body>
</html>
