<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Organization</title>
</head>
<body>
    <div layout:fragment="content">
        <h3 th:text="${organization.name}"/>
        <p th:text="${organization.description}"/>
        <p th:text="${organization.location}"/>

        <div th:if="${not #lists.isEmpty(members)}">
            <h3>Members</h3>
            <table>
                <thead>
                <th>Name</th>
                <th>Role</th>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td><a th:href="@{|/${lang}/persons/${member.entity.baseId}|}" th:text="${member.entity.name}"/></td>
                    <td th:text="${member.role}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
