<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Organizations</title>
</head>
<body>
<div layout:fragment="content">
    <h3>Organizations List</h3>
    <table>
        <thead>
            <th>Organization</th>
            <th>Description</th>
            <th>Location</th>
        </thead>
        <tbody>
        <tr th:each="org : ${organizations}" th:object="${org}">
            <td><a th:href="@{|/${lang}/organizations/*{baseId}|}" th:text="*{name}"/></td>
            <td th:text="*{description}"/>
            <td th:text="*{location}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
