<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Organization</title>
</head>
<body>
    <div layout:fragment="content">
        <h3 th:text="${organization.new ? 'Add Organization' : 'Edit Organization'}"/>
        <form action="#" th:action="@{|/${lang}/organizations/save|}" th:object="${organization}" method="post">
            <input type="hidden" name="baseId" th:value="${baseId}"/>
            <input type="hidden" th:field="*{id}"/>

            <label>Name
                <input type="text" name="name" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" class="form-error is-visible" th:errors="*{name}"/>
            </label>

            <label>Description
                <textarea rows="5" name="description" th:field="*{description}"/>
                <span th:if="${#fields.hasErrors('description')}" class="form-error is-visible" th:errors="*{description}"/>
            </label>

            <label>Location
                <input type="text" name="location" th:field="*{location}"/>
                <span th:if="${#fields.hasErrors('location')}" class="form-error is-visible" th:errors="*{location}"/>
            </label>
            <input type="submit" class="button" value="Save">
        </form>
    </div>
</body>
</html>
