<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Organization</title>
</head>
<body>
    <div layout:fragment="content">
        <div layout:insert="~{fragments::editLink('organizations', ${organization.baseId})}" th:remove="tag"/>

        <h4 th:text="${organization.name}"/>

        <div class="grid-x grid-margin-x">
            <div class="cell shrink">
                <div layout:insert="~{fragments::image(${organization.image}, 'org')}" th:remove="tag"/>
            </div>
            <div class="cell auto">
                <div th:text="${organization.description}" class="markdown-content"/>
                <p th:if="${organization.location != null}">
                    <strong>Location: </strong>
                    <span th:text="${organization.location}"/>
                </p>
                <p th:if="${parent != null}">
                    <strong>Parent organization: </strong>
                    <a th:href="@{|/${lang}/organizations/${parent.baseId}|}" th:text="${parent.name}"/>
                </p>
                <div layout:insert="~{fragments::links(${organization.links})}" th:remove="tag"/>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(organizations)}">
            <h4>Organizations</h4>
            <div layout:insert="~{tables::organizations(${organizations})}" th:remove="tag"/>
        </div>

        <div th:if="${not #lists.isEmpty(projects)}">
            <h4>Projects</h4>
            <div layout:insert="~{tables::projects(${projects}, false)}" th:remove="tag"/>
        </div>

        <div th:if="${not #lists.isEmpty(members)}">
            <h4>Members</h4>
            <table>
                <thead>
                <th>Name</th>
                <th>Role</th>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td><a th:href="@{|/${lang}/persons/${member.entity.baseId}|}" th:text="${member.entity.name}"/></td>
                    <td th:text="${@dictionaryService.getText('role', lang, member.role)}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
