<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Projects</title>
</head>
<body>
<div layout:fragment="content">

    <h3 th:unless="${baseAreaId == null}" th:text="${areas.get(baseAreaId).name}"/>
    <h4 th:unless="${baseAreaId == null}">Projects List</h4>

    <h3 th:if="${baseAreaId == null}">Projects List</h3>

    <div layout:insert="~{tables::projects(${projects}, true)}" th:remove="tag"/>
</div>
</body>
</html>
