<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Project</title>
</head>
<body>
    <div layout:fragment="content">
        <div layout:insert="~{fragments::editLink('projects', ${project.baseId})}" th:remove="tag"/>

        <h4 th:text="${project.name}"/>

        <div class="grid-x grid-margin-x">
            <div class="cell shrink">
                <div layout:insert="~{fragments::image(${project.image}, 'project')}" th:remove="tag"/>
            </div>
            <div class="cell auto">
                <div th:text="${project.description}" class="markdown-content"/>
                <p th:if="${area != null}">
                    Area: <a th:href="@{|/${lang}/areas/${area.baseId}|}" th:text="${area.name}"/>
                </p>
                <td th:if="${organization != null}">
                    Organization: <a th:href="@{|/${lang}/organizations/${organization.baseId}|}" th:text="${organization.name}"/>
                </td>
                <div layout:insert="~{fragments::links(${organization.links})}" th:remove="tag"/>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(members)}">
            <h4>Members</h4>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Role</th>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <td><a th:href="@{|/${lang}/persons/${member.entity.baseId}|}" th:text="${member.entity.name}"/></td>
                        <td th:text="${@dictionaryService.getText('role', lang, member.getRole())}"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
