<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Updates</title>
</head>
<body>
<div layout:fragment="content">

    <h3>Updates</h3>
    <div th:each="u : ${updates}" th:object="${u}" class="card">
        <div class="card-section">
            <p th:text="*{#temporals.format(update.baseEntity.date, 'dd.MM.yyyy')}"/>
            <p th:if="*{organization != null}">
                Organization: <a th:href="@{|/${lang}/organizations/*{organization.baseId}|}" th:text="*{organization.name}"/>
            </p>
            <p th:if="*{project != null}">
                Project: <a th:href="@{|/${lang}/projects/*{project.baseId}|}" th:text="*{project.name}"/>
            </p>
            <p><strong th:text="*{update.title}"/></p>
            <p th:text="*{update.preview}"/>
            <a th:href="@{|/${lang}/updates/*{update.baseId}|}">Read more</a>
        </div>
    </div>
    <div layout:insert="~{fragments::pagination}" th:remove="tag"/>
</div>
</body>
</html>
